@use "variables" as *;

// Flexbox mixin
@mixin flex($direction: row, $justify: flex-start, $align: flex-start, $wrap: nowrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}

// Spacing mixin
@function spacing($multiplier) {
  @return $spacing-unit * $multiplier;
}

// Media queries mixin
@mixin media($breakpoint) {
  @if $breakpoint == xs {
    @media (min-width: $breakpoint-xs) {
      @content;
    }
  } @else if $breakpoint == sm {
    @media (min-width: $breakpoint-sm) {
      @content;
    }
  } @else if $breakpoint == md {
    @media (min-width: $breakpoint-md) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media (min-width: $breakpoint-lg) {
      @content;
    }
  } @else if $breakpoint == xl {
    @media (min-width: $breakpoint-xl) {
      @content;
    }
  } @else if $breakpoint == 2xl {
    @media (min-width: $breakpoint-2xl) {
      @content;
    }
  } @else {
    @media (min-width: $breakpoint) {
      @content;
    }
  }
}

// Media query for max-width
@mixin media-max($breakpoint) {
  @if $breakpoint == xs {
    @media (max-width: $breakpoint-sm - 1px) {
      @content;
    }
  } @else if $breakpoint == sm {
    @media (max-width: $breakpoint-md - 1px) {
      @content;
    }
  } @else if $breakpoint == md {
    @media (max-width: $breakpoint-lg - 1px) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media (max-width: $breakpoint-xl - 1px) {
      @content;
    }
  } @else if $breakpoint == xl {
    @media (max-width: $breakpoint-2xl - 1px) {
      @content;
    }
  } @else {
    @media (max-width: $breakpoint) {
      @content;
    }
  }
}
