.text {
  margin-bottom: spacing(8);
}

.text__content {
  font-size: $font-size-lg;
  line-height: $line-height-relaxed;
  color: #111827;

  p {
    margin: 0 0 spacing(4) 0;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
